 <section id="lista">
    <h2>Lista Compromisso</h2>
    <div class="btnAdd">
      <button type="button" class="btn btn-primary">Adicionar Compromisso</button>
    </div>
    <div>
      teste 
    </div>
</section>
