 <section id="servicos">
    <h2>Adicionar Compromisso</h2>

        <form name="$ctrl.agendaForm" ng-submit="$ctrl.submitForm()" novalidate>

            <!-- Titulo -->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.titulo.$invalid && !$ctrl.agendaForm.titulo.$pristine }">
                <label>Titulo</label>
                <input type="text" name="titulo" class="form-control" ng-model="$ctrl.compromisso.titulo" required>
                <p ng-show="$ctrl.agendaForm.titulo.$invalid && !$ctrl.agendaForm.titulo.$pristine" class="help-block">You titulo is required.</p>
            </div>

            <!-- Data Ini -->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.dataIni.$invalid && !$ctrl.agendaForm.dataIni.$pristine }">
                <label>Data de Inicio</label>
                <input ng-model="$ctrl.compromisso.dataIni" ng-model-options="{ updateOn: 'blur' }" moment-picker="$ctrl.input" locale="pt-br"  format="L" autoclose="true" start-view="month" today="true" name="dataIni" required class="form-control" autocomplete="off" >
                <p ng-show="$ctrl.agendaForm.dataIni.$invalid && !$ctrl.agendaForm.dataIni.$pristine" class="help-block">Date is required.</p>
            </div>

            <!-- Hora Ini-->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.horaIni.$invalid && !$ctrl.agendaForm.horaIni.$pristine }">
                <label>Hora de Inicio</label>
                <input ng-model="$ctrl.compromisso.horaIni" ng-model-options="{ updateOn: 'blur' }" moment-picker="$ctrl.input" locale="pt-br"  format="LT" autoclose="true" start-view="hour"  name="horaIni" required class="form-control" autocomplete="off" >
                <p ng-show="$ctrl.agendaForm.horaIni.$invalid && !$ctrl.agendaForm.horaIni.$pristine" class="help-block">Hora is required.</p>
            </div>

            <!-- Data termino-->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.dataTermino.$invalid && !$ctrl.agendaForm.dataTermino.$pristine }">
                <label>Data de termino</label>
                <input ng-model="$ctrl.compromisso.dataTermino" ng-model-options="{ updateOn: 'blur' }" moment-picker="$ctrl.input" locale="pt-br"  format="L" autoclose="true" start-view="month" today="true" name="dataTermino" required class="form-control" autocomplete="off" >
                <p ng-show="$ctrl.agendaForm.dataTermino.$invalid && !$ctrl.agendaForm.dataTermino.$pristine" class="help-block">Date is required.</p>
            </div>

            <!-- Hora de termino-->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.horaTermino.$invalid && !$ctrl.agendaForm.horaTermino.$pristine }">
                <label>Hora Termino</label>
                <input ng-model="$ctrl.compromisso.horaTermino" ng-model-options="{ updateOn: 'blur' }" moment-picker="$ctrl.input" locale="pt-br"  format="LT" autoclose="true"  min-view="hour" name="horaTermino" required class="form-control" autocomplete="off" >
                <p ng-show="$ctrl.agendaForm.horaTermino.$invalid && !$ctrl.agendaForm.horaTermino.$pristine" class="help-block">Hora is required.</p>
            </div>    

            
            <!-- Detalhes do compromisso -->
            <div class="form-group" ng-class="{ 'has-error' : $ctrl.agendaForm.detalhes.$invalid && !$ctrl.agendaForm.detalhes.$pristine }">
                <label>Detalhes</label>
                <!-- <input type="text" name="detalhes" class="form-control" ng-model="$ctrl.compromisso.detalhes" ng-minlength="3" ng-maxlength="8"> -->
                <textarea name="detalhes" class="form-control" ng-model="$ctrl.compromisso.detalhes" rows="5" column="10"></textarea>
                <p ng-show="$ctrl.agendaForm.detalhes.$error.minlength" class="help-block">detalhes is too short.</p>
                <p ng-show="$ctrl.agendaForm.detalhes.$error.maxlength" class="help-block">detalhes is too long.</p>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="$ctrl.agendaForm.$invalid">Submit</button>

        </form>
    

</section>
