
/*
SERVIÇOS
*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#servicos div {
    display: flex;
    flex-direction: column;
    
}

/*
PORTFOLIO
*/

#compromissos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#compromissos h2 {
    margin-bottom: 20px;
}

#compromissos img {
    width: 100%;
}