@import "./styles/*.scss";
@import "./app/components/**/*.scss";

/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

/*
SERVIÇOS
*/

#servicos {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos h2 {
    padding: 10px;
}

#servicos div {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}


#lista {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista h2 {
    padding: 10px;
}




/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
        
    
    /*
    SERVIÇOS
    */
    
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;        
        max-width: 700px;
        margin: 0 auto;        
        align-items: center;
        text-align: center;
        min-height: 88.5vh;  
    }
    
    #servicos h2 {
        text-align: center;
        width: 100%;
    }
    
    #servicos div {
        text-align: left;
        flex-grow: 1;
        max-width: 700px;
        width: 100vh;
        flex-basis: 100px 0;
        padding: 0 0;
    }
    
    
}











